<h4 class="text-center">{{title}}</h4>



<div class="info-box mb-3 bg-warning">
  <span class="info-box-icon"><i class="fas fa-birthday-cake"></i></span>

  <div class="info-box-content">
    <span class="info-box-text">Mutlu seneler <b>Can Çiftçioğlu!</b></span>
    <span class="info-box-text">Sağlıklı, başarılı ve huzur dolu bir yaşın olsun!</span>
  </div>
  <!-- /.info-box-content -->
</div>

<div class="info-box mb-3 bg-success">
  <span class="info-box-icon"><i class="fas fa-birthday-cake"></i></span>

  <div class="info-box-content">
    <span class="info-box-text">Birlikte nice senelere <b>Can Çiftçioğlu!</b></span>
    <span class="info-box-text">Beraber daha güzel işlere!</span>
  </div>
  <!-- /.info-box-content -->
</div>
