<h3 class="text-center">{{title}}</h3>

<dx-data-grid id="gridContainer"
    [dataSource]="dataSource"
    [keyExpr] = "id"
    [columns]="['id', 'productName', 'categoryId', 'quantityPerUnit', 'unitPrice','unitInStock']"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    (onContentReady)="contentReady($event)">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager>
    <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="true"
    ></dxo-search-panel>
    <dxo-group-panel
        [visible]="true"
    ></dxo-group-panel>
    <dxo-grouping
        [autoExpandAll]="false"
    ></dxo-grouping>

    <dxi-column dataField="id"></dxi-column>
    <dxi-column dataField="productName"></dxi-column>
    <dxi-column dataField="categoryId" caption="Category Id" dataType="number"  alignment="right"></dxi-column>
    <dxi-column dataField="quantityPerUnit" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="unitPrice" dataType="number"></dxi-column>
    <dxi-column dataField="unitInStock" dataType="string"></dxi-column>

   
</dx-data-grid>